<header>
    <h1 class="this-week">
        About us
    </h1>
</header>

    <main class="main row about">

        <div class="col-xs-6 contacts">
            <p>Address: {{contacts.address}} </p>

            <p>Phone: <a href="tel:{{contacts.phone}}">{{contacts.phone}}</a></p>

            <p>Facebook group: <a href="{{contacts.facebook}}" target="_blank">Go to our Facebook page!!!</a></p>

            <p>Twitter: {{contacts.twitter}}</p>

            <p>Skype: {{contacts.skype}}</p>
    </div>

        <div class="col-xs-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.9661420912803!2d22.525213015284372!3d51.23811843817774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472259d5a5513d85%3A0xe0c4db85ceb62897!2sTomasza+Zana+39%2C+20-400+Lublin!5e0!3m2!1sru!2spl!4v1447951077219"
                    class="map" allowfullscreen></iframe>
        </div>


    </main>
