<header>
    <h1 class="this-week">
        What's coming soon
    </h1>
</header>

<main class="main row">
    <div class="col-xs-12">
        <ul class="movie-list">
            {{#each filmList}}
                <li id="{{id}}" class="film-item">
               <span class="title-container"> <h2 class="film-title">
                   {{title}}
               </h2></span>

                    <img src="{{image}}" alt="{{title}}"
                         class="film-avatar"/>


                    <div class="ctrl-block">
                        <a href="/films/{{id}}" class="btn film-page-btn">
                            Read more
                        </a>

                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</main>