<div class="content row">
    <div class="aslider col-xs-8" data-hide-controls="true">
        {{#each slides}}
            <div class="aslide" data-duration="12">
                <img src="{{src}}" alt="an image"/>
            </div>
        {{else}}
            //if array empty
        {{/each}}
    </div>

    <div class="links col-xs-2">
        <a href="/kidz-club" class="baby link">
            <img class="link-img" src="/images/barney.jpg">
            <span>Barney KidZ Club</span>
        </a>

        <a href="/candy-bar" class="candy link">
            <img src="/images/Popcorn.jpg" class="link-img">
            <span>Candy bar</span>
        </a>
    </div>

    <div class="links col-xs-2">
        <a href="/about-us" class="about link">
            <img src="/images/map.jpg" class="link-img">
            <span>Find us</span>
        </a>

        <a href="/news-letter" class="news link">
            <img src="/images/email.jpg" class="link-img">
            <span>Newsletter</span>
        </a>
    </div>

</div>

<header>
    <h1 class="this-week">
        What's on this week
    </h1>
</header>

<main class="main row">
    <div class="col-xs-12">
        <div class="fb-like"
             data-href="https://developers.facebook.com/docs/plugins/"
             data-width="300"
             data-layout="button_count"
             data-action="like"
             data-show-faces="true"
             data-share="true"></div>
        <ul class="movie-list">
            {{#each filmList}}
                <li id="{{id}}" class="film-item">
               <span class="title-container"> <h2 class="film-title">
                   {{title}}
               </h2></span>

                    <img src="{{image}}" alt="{{title}}"
                         class="film-avatar"/>


                    <div class="ctrl-block">
                        <a href="/films/{{id}}" class="btn film-page-btn">
                            Read more
                        </a>

                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</main>
<!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
<script src="/bower_components/a-slider/aslider.js"></script>


<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>